body{
  background-color: #f1f1f1;
}
.border{
  border-bottom:1px solid #F1F1F1;
  margin-bottom:10px;
}
.main-secction{
  box-shadow: 10px 10px 10px;
}
.image-section{
  padding: 0px;
}
.image-section img{
  width: 100%;
  height:350px;
  position: relative;
}
.user-image{
  position: absolute;
  margin-top:-100px;
}
.user-left-part{
  margin: 0px;
  color: rgb(8, 8, 8);
}
.user-image img{
  width:200px;
  height:200px;
  border-radius:50%;
}
.user-profil-part{
  padding-bottom:30px;
  
}

.profile-right-section{
  padding: 20px 0px 10px 15px;
  background-color: #FFFFFF;  
}
.profile-right-section-row{
  margin: 0px;
}
.profile-header-section1 h1{
  font-size: 25px;
  margin: 0px;
}
.profile-header-section1 p{
  color:#878787;
}
.profile-tag{
  padding: 10px;
  border:1px solid #F6F6F6;
}
.profile-tag p{
  font-size: 12px;
  color:#ADADAD;
}
.profile-tag i{
  color:#ADADAD;
  font-size: 20px;
}
.image-right-part{
  background-color: #FCFCFC;
  margin: 0px;
  padding: 5px;
}
.img-main-rightPart{
  background-color: #FCFCFC;
}
.image-right-detail{
  padding: 0px;
}
.image-right-detail p{
  font-size: 12px;
}
.image-right-detail a:hover{
  text-decoration: none;
}
.image-right img{
  width: 100%;
}
.image-right-detail-section2{
  margin: 0px;
}
.image-right-detail-section2 p{
  color:#38ACDF;
  margin:0px;
}
.image-right-detail-section2 span{
  color:#7F7F7F;
}
